body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul.nav {
  list-style-type: none;
  background: #333;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.nav li.title {
  float: left;
  color: white;
  padding-left: 10px;
  font-weight: 100;
  margin: 0;
  font-size: 250%;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.nav li {
  display: inline;
  float: right;
}

ul.nav li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 25px;
}

.wrapper .half {
  width: calc(50% - 20px);
  float: left;
  padding: 10px;
}

.wrapper .half table td.title {
  position: relative;
}

.wrapper .half table td.title h1.title {
  font-weight: 100;
  margin: 0;
  font-size: 2.5vw;
  text-align: center;
}

.wrapper .half table td.title a {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper .half table td.code {
  width: 70%;
}
