body {
  background: black;
  color: white;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}

nav a {
  display: inline-block;
  padding: 20px;
  border-bottom: 1px solid white;
  margin-left: 5px;
  color: white;
  text-decoration: none;
  float: right;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all 500ms ease-in-out;
}

nav a:hover {
  color: black;
  background: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center h1.title {
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10em;
  margin: 0;
}

.center h3.tagline {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  margin-top: -20px;
}

.moon {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ECF0F1;
  border-radius: 50%;
  top: 20%;
  left: 10%;
  margin-top: -100px;
  margin-left: -100px;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 30px #fff;
  -webkit-box-shadow: 0px 0px 30px #fff;
  box-shadow: 0px 0px 30px #fff;
  z-index: 10;
}

.moon:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #BEC3C7;
  top: 100px;
  left: 50px;
  border-radius: 50%;
}

.moon:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #BEC3C7;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}
